<!DOCTYPE html>
<html>

<head>
	<title>Reset Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- <script src="/Scripts/forgotpassword.js"></script> -->
		<link href="/styles/sample.css" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>

<body>
	<div> //Division to show any kind of messages while changing the passwords
		<ul>
			<% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
			<li><%= error.message %></li>
			<% }) %> <% } %>
		</ul>
	
		<ul>
			<% if(messages.success_msg) { %>
			<li><%= messages.success_msg %></li>
			<% } %>
		</ul>
	
		<ul>
			<% if (messages.error) { %>
			<li><%= messages.error %></li>
			<% } %>
		</ul>
	</div>

	<div class="main-w3layouts wrapper">
		<h1>Hello <%= user %>.<br> Enter your new password!</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="changepassword" method="POST">
					<input id="password" name="password" placeholder="Password" required class="text" type="password">
					<input id="password_2" name="password_2" placeholder="Confirm Password" required class="text" type="password">
					<input type="submit" value="CHANGE PASSWORD">
				</form>
			</div>
		</div>
	
		<ul class="colorlib-bubbles">
			<li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
		</ul>
	</div>

</body>

</html>